* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: #ececec;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #05080f;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: #ffb545;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: #05080f;
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.tasks {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tasks::-webkit-scrollbar {
  width: 0;
}

.task {
  background-color: #182543;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}

.task__information {
  width: 100%;
  grid-column: 1 / 3;
}

.task__weather {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.weather__description {
  text-align: end;
  font-size: 1.7rem;
}

.task__specifics {
  display: flex;
  margin: 0.5rem 0;
}

.task__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.task__details {
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}

.task__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.task__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.task__unit {
  font-size: 1.1rem;
  color: #aaa;
  text-transform: uppercase;
  font-weight: 800;
}

.task__complete-btn {
  margin: 1rem 0 0 0;
  padding: 0.7rem 1rem;
  background-color: rgb(31, 233, 166);
  border: none;
  border-radius: 5px;
  cursor: url('../images/check_alt.png') 15 15, auto;
  transition: background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.task__complete-btn:hover {
  background-color: rgb(39, 165, 123);
  color: white;
}

.form {
  background-color: #42484d;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.form__input {
  width: 100%;
  padding: 0.5rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(214, 222, 224);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: #aaa;
}

.twitter-link:link,
.twitter-link:visited {
  color: #aaa;
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: #ececec;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: #aaa;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #05080f;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #05080f;
}

.form__to-do {
  background-color: #0e1528;
  padding: 3rem;
  border-radius: 5px;
}

.form__to-do.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__upper-row {
  padding: 0.5rem;
}

.form__lower-row {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: end;
}

.form__input-small {
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: #bbd2ff;
  transition: all 0.2s;
}

.form__field {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.form__button {
  display: none;
  height: fit-content;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: #0055ff;
  transition: all 0.2s;
  color: #fff;
  font-weight: 800;
}
